extends layout

block content
    section.intro
        img(id='img-adrivette col-s-12', src='/images/Adrivette.svg', alt='Adrivette')
        h3 Creando 
        strong experiencias increíbles 
        | centradas en las personas

    section.who
        div.left
            img(src=`/images/chicaSexy.jpg`, alt="chicaSexy")
        div
            img.img-profile(src=`/images/profile.jpg`, alt="Profile")
    