doctype html
html
  head
    title Adrivette | Design happens
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
        div.navigation
            img.img-logo(src=`/images/isologo.svg`, alt="Logo")
        
        div
          nav
            a(href="")
            a() Acerca de mí
            a(href="")
            a() Proyectos
    block content
